.sound-btn {
    background-color: transparent;
    width: 100%;
    max-height: 50px;
    outline-style: none;
    font-family: 'BenchNine', sans-serif;
    font-size: 20px;
    color: lightgray;
    cursor: pointer;
    border-style: none;
}